extends ../layout

block content
  .container
    h1.text-center Register

    .form-container
      form(method="POST", action="/auth/register")
        .mb-3
          label(for="name") Username
          input(type="text" name="name" placeholder="username...").form-control
        .mb-3
          label(for="email") Email
          input(type="text" name="email" placeholder="email...").form-control
        .mb-3
          label(for="password") Password
          input(type="password" name="password" placeholder="Password...").form-control
        .mb-3
          button.btn-outline-secondary.full-width(type="submit") Register

