extends ../layout

block content
  .dark-bg
    .container
      h1 PROPERTIES LIST ADMIN

      table.table.table-hover.light-bg
        thead
          tr
            th City
            th Price
            th Surface
            th Edit
        tbody
          each property, i in data
            tr
              td= property.city
              td= property.price
              td= property.surface
              td
                a.btn.btn-outline-secondary(href=`/admin/properties/${property._id}`)
                  i.las.la-edit
                  