@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
	--light-shades: #f0f2ea;
	--light-accent: #a6bbad;
	--main-color: #97948d;
	--dark-accent: #979695;
	--dark-shades: #3a4758;
}

body {
	background-color: var(--light-shades);
	color: var(--dark-shades);
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}

/* BACKGROUNDS */
.dark-bg {
	background-color: var(--dark-shades);
	color: var(--light-shades);
}

.light-bg {
	background-color: var(--light-shades);
	color: var(--dark-shades);
}

.fade-bg {
	border-radius: 15px;
	padding: 5px 15px;
	opacity: 0.5;
}

/* TEXTS */
.dark-text {
	color: var(--dark-shades);
}

.light-text {
	color: var(--light-shades);
}

/* BUTTONS */
.btn-outline-secondary {
	border-radius: 5px;
	padding: 5px 15px;
	border: 1px solid var(--dark-accent);
}

.full-width {
	width: 100%;
}

/* HOME */
.home-bg {
	/* Background */
	background-image: url("https://images.pexels.com/photos/221457/pexels-photo-221457.jpeg");
	background-size: cover;
	background-position: center;
	object-fit: cover;
	/* Sizing */
	height: 100vh;
	width: 100%;
	/* Text */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* PROPERTIES */
.container-property {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}

.card {
	margin-top: 30px;
	border-radius: 10px;
}

.card img {
	height: 200px;
	width: 95%;
	margin: auto;
	margin-top: -20px;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

/* LOGIN */
div.form-container {
	display: block;
	width: 400px;
}

.form-container {
	display: inline-block;
	margin: auto;
	padding: 10px;
}

/* ADMIN PROPERTIES */
table {
	border-radius: 10px;
}

/* Responsive */
@media (max-width: 1100px) {
	.container-property {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 760px) {
	.container-property {
		grid-template-columns: repeat(2, 1fr);
	}

	div.form-container {
		width: 90%;
	}
}

@media (max-width: 500px) {
	.container-property {
		grid-template-columns: 1fr;
	}

	div.form-container {
		width: 90%;
	}
}
