extends ../layout

block content
  .home-bg
    .container
      div
        h1.text-center.dark-bg.fade-bg Prestige Real Estate
        h4.text-center.light-bg.fade-bg High-end residences at the very low price of environmental destruction